-
  const page_title = 'Exercise Template';
  const page_type = 'Exercise';
  const developer = '';
  const target_url = '';
  const group = '';
  
  const math = false;


script.
  /* Use __NAME__ for custom placeholders */
  _placeholder = {
    __EXAMPLE__: " This is just an example placeholder"
  }
